@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --skills-box-height: 0px;
    --height-animation-rate: 300ms;
    --nav-bar-height: 0px;
    --timeline-height: 0px;
}

@font-face {
    font-family: 'Pacifico';
    font-style: regular;
    font-weight: 400;
    src: url("./src/assets/fonts/Pacifico-Regular.ttf") format("ttf");
}

/*
* { 
    outline: 1px solid red !Important;
    outline-offset: -1px;
}
*/

/*
h1, h2, h3, h4, h5, h6, a:first-letter {
    text-transform: capitalize;
}
*/