@import '@radix-ui/themes/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --skills-box-height: 0px;
    --height-animation-rate: 300ms;
    --nav-bar-height: 0px;
    --timeline-height: 0px;
}

/*custom class to highlight the text against the 
  background
*/
.highlight-text {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

/*custom class to highlight the components against the
  background
*/
.highlight-component {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

/* customize the scrollbar appearance */
/* Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(82, 82, 82, 1);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(232, 112, 27, 1);
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}


/* chrome and Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: rgba(232, 112, 27, 1) rgba(82, 82, 82, 1);
    scrollbar-radius: 10px;
    scrollbar-color-thumb: gray;
    scrollbar-background: transparent;
}

/*
* { 
    outline: 1px solid red !Important;
    outline-offset: -1px;
}
*/