@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --skills-box-height: 0px;
    --height-animation-rate: 300ms;
}


/*
* { 
    outline: 1px solid red !Important;
    outline-offset: -1px;
}
*/

/*
h1, h2, h3, h4, h5, h6, a:first-letter {
    text-transform: capitalize;
}
*/